:root {
  --blue-main: #0f4c75;
  --dark-blue: #1b262c;
  --light-grey-sec: #909090;
  --dark-grey-sec: #3283b867;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: var(--dark-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
