:root {
  --light-grey-main: #c4c4c4;
  --dark-grey-main: #3a3a3a;
  --light-grey-sec: #909090;
  --dark-grey-sec: #1d1d1d;
}

body {
  background-color: var(--light-grey-main);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
